---
layout: master
---
<div class="heroBanner">
	<div class="aspectContent">
		<ul class="heroBanner_list">
			<li class="banner-1 heroBanner_item">
				<div class="bannerImg1 bannerImg"></div>
			</li>
			<li class="banner-2 heroBanner_item">
				<div class="bannerImg2 bannerImg"></div>
			</li>
			<li class="banner-3 heroBanner_item">
				<div class="bannerImg3 bannerImg"></div>
			</li>
			<li class="banner-4 heroBanner_item">
				<div class="bannerImg4 bannerImg"></div>
			</li> 
		</ul>
	</div>
</div>
<header class="header header-heroBanner">
	{% include header.html %}
	<div class="curve">
		<div class="curve_inner">
			<p class="curve_strapline">Culture &amp; Performing Arts</p>
			<p class="intro">
				Promoting Chinese Cultural Arts since 2007 – through performances, workshops, demonstrations, and teaching Chinese Martial Arts to children and adults.
			</p>
		</div>
	</div>
</header>
<div class="homeContentInner">
	{{ content }}
</div>