<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {{ content }}
    {% include footer.html %}
    <!-- PushAlert Onsite Messaging -->
<script type="text/javascript">
    (function(d, t) {
        var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
        g.src = "https://cdn.inwebr.com/inwebr_d5209cc2bb07dc2871b793b99e82e8b1.js";
        s.parentNode.insertBefore(g, s);
    }(document, "script"));
</script>
<!-- End PushAlert Onsite Messaging -->
  </body>

</html>